<div class="row">
  <table class="table game-table" data-toggle="table">
    <thead>
      <tr>
        <th data-sortable="true" scope="col">Name</th>
        <th data-sortable="true" scope="col">Current Price ($)</th>
        <th data-sortable="true" scope="col">Discount</th>
        <th data-sortable="true" scope="col">Highest Price ($)</th>
        <th data-sortable="true" scope="col">Lowest Price ($)</th>
        <th data-sortable="true" scope="col">Last Price Change</th>
        <th data-sortable="true" scope="col"># of Changes</th>
      </tr>
    </thead>

    <tbody>
      <% games.each do |game| %>
        <% current = game.prices.last %>
        <% max = game.prices.maximum('amount') %>
        <% min = game.prices.minimum('amount') %>
        <% discount = percentage(current.amount, max) %>
        <tr data-link="<%= game_path(game.id) %>">
          <td><%= link_to game.name, game_path(game.id) %></td>
          <td><%= format_decimal(current.amount, 2) %></td>
          <td><%= discount.to_s + '%' unless discount.to_i == 0 %></td>
          <td><%= format_decimal(max, 2) %></td>
          <td><%= format_decimal(min, 2) %></td>
          <td><i><%= time_ago_in_words current.created_at %> ago</i></td>
          <td><%= game.prices.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>