<% provide(:title, "Games") %>

<div class="container">
  <div class="row">
    <table class="table">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Current Price</th>
        <th scope="col">Discount</th>
        <th scope="col">Highest Price</th>
        <th scope="col">Lowest Price</th>
        <th scope="col">Last Price Change</th>
        <th scope="col"># of Changes</th>
      </tr>
      <% @games.each do |game| %>
        <tr>
          <% current = game.prices.last %>
          <% max = game.prices.maximum('amount') %>
          <% min = game.prices.minimum('amount') %>
          <td><%= link_to game.name, jb_link(game.link) %></td>
          <td>$<%= two_decimal(current.amount) %></td>
          <td><%= percentage(current.amount, max) %>%</td>
          <td>$<%= two_decimal(max) %></td>
          <td>$<%= two_decimal(min) %></td>
          <td><i><%= distance_of_time_in_words Time.now, current.created_at %> ago</i></td>
          <td><%= game.prices.size %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
