<% provide(:title, @game.name) %>

<div class="container">

  <% current = @game.prices.last %>
  <% max = @game.prices.maximum('amount') %>
  <% min = @game.prices.minimum('amount') %>
  <% discount = percentage(current.amount, max) %>

  <div class="row">
    <div class="col-sm-4">
      <h2><%= link_to @game.name, jb_link(@game.link) %></h2>
      <h4>Current: $<%= format_decimal(current.amount, 2) %></h4>
      <h4>Discount: <%= discount.to_s %>%</h4>
      <h5>High: $<%= format_decimal(max, 2) %></h5>
      <h5>Low: $<%= format_decimal(min, 2) %></h5>
    </div>

    <div class="col-sm-8">
      <%= line_chart @game.prices.pluck(:created_at, :amount), title: 'Price History',
                     xtitle: 'Time updated', ytitle: 'Price ($)', height: "500px" %>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th data-sortable="true" scope="col">Price ($)</th>
          <th data-sortable="true" scope="col">Time updated</th>
          <th data-sortable="true" scope="col">Full Date</th>
        </tr>
      </thead>

      <tbody>
        <% @game.prices.each do |price| %>
          <tr>
            <td><%= price.amount %></td>
            <td><%= distance_of_time_in_words_to_now price.created_at %> ago</td>
            <td><%= price.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>