<% provide(:title, @game.name) %>

<div class="container">
  <% current = @game.prices.last %>
  <% previous = @game.prices[-2] %>
  <% difference = previous.present? ? current.amount - previous.amount : 0 %>
  <% change = previous.present? ? percentage(current.amount, previous.amount) : 0 %>
  <% color = difference.to_i < 0 ? 'text-success' : difference.to_i > 0 ? 'text-danger' : '' %>
  <% min = @game.prices.minimum('amount') %>
  <% max = @game.prices.maximum('amount') %>

  <div class="row">
    <div class="col-sm-4">
      <h3><%= link_to @game.name, jb_link(@game.link) %></h3>
      <table class="table">
        <tbody>
          <tr>
            <td><strong>Current</strong></td>
            <td>$<%= format_decimal(current.amount, 2) %></td>
          </tr>
          <% unless difference.to_i == 0 %>
            <tr>
              <td><strong>Difference <%= '+' if difference.to_i > 0 %></strong></td>
              <td class="<%= color %>"><%= format_decimal(difference, 2) %></td>
            </tr>
            <tr>
              <td><strong>Change <%= '+' if change.to_i > 0 %></strong></td>
              <td class="<%= color %>"><%= change.to_s %>%</td>
            </tr>
          <% end %>
          <tr>
            <td><strong>Low </strong></td>
            <td>$<%= format_decimal(min, 2) %></td>
          </tr>
          <tr>
            <td><strong>High </strong></td>
            <td>$<%= format_decimal(max, 2) %></td>
          </tr>
        </tbody>
      </table>
      <small><i>Created on <%= @game.created_at.strftime('%d / %m / %Y') %></i></small>
    </div>

    <div class="col-sm-8">
      <%= line_chart @game.prices.pluck(:created_at, :amount), title: 'Price History',
                     xtitle: 'Time updated', ytitle: 'Price ($)', height: "500px" %>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th data-sortable="true" scope="col">Price ($)</th>
          <th data-sortable="true" scope="col">Time updated</th>
          <th data-sortable="true" scope="col">Full Date</th>
        </tr>
      </thead>

      <tbody>
        <% @game.prices.each do |price| %>
          <tr>
            <td><%= format_decimal(price.amount, 2) %></td>
            <td><%= distance_of_time_in_words_to_now price.created_at %> ago</td>
            <td><%= price.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>