<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head_tags' %>
  </head>

  <%# Display flash messages %>
  <%= render 'layouts/flash_messages', flash: flash %>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>

</html>
